



/********** Base styles **********/
* {

  box-sizing: border-box;

  margin: 10px;

  padding: 10px;

  font-family: arial, sans-serif;

}

h1 {

  margin-bottom: 15px;

  margin: 0 auto;

  font-size: 1.75em;

  text-align: center;

}

body {

  background-color: #00ffff;

}




p {


  border: 1px solid black;

  margin: 5px 0px 5px 5px;

  padding: 15px;

}

#ti1 {
  background-color: #DEB666;
  float: right;
}
#ti2 {
  background-color: #a52a2a;
  float: right;
}
#ti3 {
  float: right;
  background-color: #fff;
}

div#container {

  position: relative;
  margin: 0 auto;
}

p strong {
   align-text: right;
}






/********** Large devices only **********/
@media (min-width: 922px) {

 

#p1 {
  position: absolute;

  top: 65px;

  left: 20px;
 
  background-color: #a52a2a;

  color: white;

  width: 23%;

  height: 100%;
  }


#p2 {
  position: relative;

  top: 70px;

  left: 575px;
   
  background-color: #DEB999;

  width: 23%;

  height: 100%;

}

#p3 {
  position: absolute;

  top: 69px;

  left: 1135px;

  background-color: #DEB666;

  width: 23%;

  height: 100%;

    }


}



/*

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 921px) {

  div#container {
    margin-left: 300px;
  }

 

#p1 {
  position: relative;

  top: 70px;

  left: 5px;

  background-color: #a52a2a;

  color: white;

  width: 48%;

  height: 100%;

}

#p2 {
  position: absolute;

  top: 70px;

  left: 400px;

  background-color: #DEB887;

  width: 48%;

  height: 100%;

}

#p3 {
  position: absolute;

  top: 400px;

  left: 20px;

  background-color: #DEB666;

  width: 100%;

  height: 100%;

}


  

/********** Mobil devices only **********/

@media (max-width: 767px) {

 

#p1 {

  float: left;

  top: 45;

  left: 10;

  background-color: #a52a2a;

  color: white;

  width: 100%;

  height: 100%;

}

#p2 {
  position: absolute;

  top: 80px;

  left: 0px;

  background-color: #DEB887;

  width: 100%;

  height: 100%;

}

#p3 {
  position: absolute;

  float: left;

  top: 145px;

  right: 0px;

  margin: 0 auto;

  background-color: #DEB666;

  width: 100%;

  height: 100%;

   }

}





